body {
  font-family:
    Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}

main {
  padding: 0.5rem;
}

.overflow-auto {
  overflow: auto;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.FlightHeatmap {
  & h3 {
    margin-block-start: 0;
  }
}

.HeatMap {
  & th {
    text-align: center;
  }

  & .HeatmapDate {
    word-break: keep-all;

    &[data-today='true'] {
      color: #fff;
      background-color: #333;
    }
  }

  & .HeatmapCell {
    text-align: center;
    padding-inline: 1rem;
    background-color: var(--color, #efefef);
  }
}

.DestinationList {
  & h3 {
    margin-block-start: 0;
  }

  & .ShowMoreCell {
    text-align: center;
  }
}
